.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px auto 0;
}

.img-item {
    display: flex;
    justify-content: center;
    border: 1px gray;
    width: 100%;
    height: 200px;
}

.photo-card {
    box-shadow: 0px 14px 5px -5px rgba(10, 78, 131, 0.45);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.03);
    }
}

a {
    display: block;
    margin: 10px auto;
    flex-basis: calc(100% / 4 - 20px);
    justify-content: center;
    border-width: 1px;
    border-color: gray;
    text-decoration: none;
}

.info {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: gray;
    border-radius: 0 0 5px 5px;
}

.info-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
        'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.4;
    font-size: 0.7em;
}

.search-form {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 0, 255);
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
}

input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border-color: #ffffff;
}

.search-form button {
    background-color: blue;
    height: 40px;
    border-radius: 22px;
    color: gold;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &:focus {
        background-color: gold;
        color: blue;
    }
}

.load-more {
    background-color: blue;
    height: 40px;
    width: 100px;
    border-radius: 22px;
    color: gold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    font-weight: bold;
    
    &:hover,
    &:focus {
        background-color: gold;
        color: blue;
    }
}

.load-more.is-hidden {
    display: none;
}